.btn {
    position: relative;
    padding: 20px;
    background: #eee;
    border-style: none;
    border-radius: 50%;

    &:hover,
    &:focus {
        cursor: pointer;
        outline: none;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, .6);

    }

    &--green {
        @include size(70px);
        position: absolute;
        right: -20px;
        top: -1px;
        color: #fff;
        background-color: #02c897;
    }
}
