.form {
    position: relative;
}

.input {
    width: calc(100% - 30px);
    padding: 10px 40px 10px 10px;
    margin-bottom: 20px;
    border-radius: 8px;

    &:hover,
    &:focus {
        outline: none;
        box-shadow: 0 0 5px 0 rgba(255, 255, 255, .6);
    }
}
